<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white;"> Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" </nav>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container" id="main-container">
      <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-6">
                <a href=""><img
                    src="https://scontent-tpe1-1.xx.fbcdn.net/v/t39.30808-6/434061868_3721837508139669_8221234284119985516_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=1I6wXxLWUXsQ7kNvgGoA4rh&_nc_ht=scontent-tpe1-1.xx&oh=00_AYAaqrupL7w2thmsJwqssD0ZXcsTjUzz4Ok3_Gl6K2cAtA&oe=6644E2EB"
                    alt="" class="img-fluid rounded-circle w-60"></a>
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                <h5>{{employee.name}}</h5>
                <p class="m-0">Graphics Designer</p>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a
                  href="#">{{employee.email}}</a></li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee.phone}}</li>
            </ul>
            <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                  data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
                  data-original-title="Delete"><i class="fa fa-times"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>